@{
    ViewData["Title"] = "Index";
}
<br />
<div class="row">
    <div class="col-6">
        <h1 class="text-info">User Roles</h1>
    </div>
</div>

<div>
    <table class="table table-striped border" id="DT_load">
        <thead>
            <tr class="table-info">
                <th>User Name</th>
                <th>Roles</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in ViewBag.UserRoles)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.RoleName</td>
                </tr>
            }
        </tbody>

    </table>
</div>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#DT_load').DataTable();
        });
        $(function () {
            var save = '@TempData["save"]'
            if (save != null && save != '') {
                if (save == "Delete") {
                    alertify.error('Role has been Deleted Successfully');
                }
                else if (save == "Update") {
                    alertify.warning('Role has been Updated Successfully');
                }
                else alertify.success(save);
            }

        })
    </script>
}
