@model IEnumerable<Online_Shop.Models.SpecialTags>
@{
    ViewData["Title"] = "Index";
}
<br />
<div class="row">
    <div class="col-6">
        <h1 class="text-info">Special Tag</h1>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i> &nbsp; New Special Tag</a>
    </div>
</div>

<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>Special Tag</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SpecialTag</td>
                <td>
                    <partial name="_ButtonSpecialTagPartial" model="@item.Id" />
                </td>
            </tr>
        }
    </table>
</div>



